<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Web Admin - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <link rel="stylesheet" href="~/css/plugins/slick/slick.css" />
    <link rel="stylesheet" href="~/css/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/css/plugins/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/icons/styles.css" />
    @*<link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css" />*@
    <link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/plugins/datapicker/datepicker.css" />
    <link rel="stylesheet" href="~/css/plugins/nestable/nestable.css" />
    @*<link rel="stylesheet" href="~/css/plugins/nestable/nestable-cust.css" />*@
    <link rel="stylesheet" href="~/css/toastr/toastr.min.css" />
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/plugins/jsonViewer/jjsonviewer.css" rel="stylesheet" />
    <link href="~/js/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/js/plugins/summernote/summernote-lite.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">

        <!-- Contenedor Principal Izquierdo -->
        <nav class="navbar-default navbar-static-side">
            <div class="sidebar-collapse">

                <ul class="nav metismenu" id="side-menu">

                    <!-- Logo + Titulo del Sistema -->
                    <li class="nav-header">
                        <div class="profile-element">
                            <!-- Logo cuando el panel esta completo -->
                            <div class="logo">
                                
                            </div>
                        </div>

                        <!-- Logo cuando el panel esta minimizado -->
                        <div class="logo-element">
                            
                        </div>
                    </li>

                    <li class=""><a asp-controller="Home" asp-action="Index"><i class="fa fa-copyright"></i> <span class="nav-label">Home</span></a></li>
                    <li class=""><a asp-controller="Marca" asp-action="Index"><i class="fa fa-dashboard"></i> <span class="nav-label">Marca</span></a></li>
                </ul>
            </div>
        </nav>

        <!-- Contenedor Principal - Navegacion superior, Header titulos, Contenido, Footer -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Navegación superior -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                    <!-- Botón para minimizar panel izquierdo + Barra de búsqueda -->
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <!-- -->
                    <!-- Lista de items -->
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">
                                @*@User.Identity.Name*@
                            </span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i class="fa fa-bars"></i>  </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CambiarContrasena", "Cuenta")">Cambiar Contraseña</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Cuenta")">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                    <!-- -->

                </nav>
            </div>
            <!-- -->
            <!-- Contenido de la views-->
            @RenderBody()
            <!-- -->
            <!-- Modal Forms -->
            <div class="modal inmodal fade" id="modal-forms" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md" id="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="modal-title"></h4>
                        </div>
                        <div id="modal-content">
                        </div>
                    </div>
                </div>
            </div>
            <!-- -->
            <!-- Footer -->
            <div class="footer">
                <div class="pull-right">
                     Web Admin &copy; 2020
                </div>
                <div>
                    <strong> Web Admin</strong>
                </div>
            </div>
            <!-- -->
        </div>
    </div>

    <input type="hidden" id="txtMensajeError" value="@ViewBag.MensajeError" />
    <input type="hidden" id="txtMensajeExito" value="@ViewBag.MensajeExito" />
    <input type="hidden" id="txtWarningMessage" value="@ViewBag.Warning" />

    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/inspinia.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/slick/slick.min.js"></script>
    <script src="~/js/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/js/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    @*<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>

    <script src="~/js/plugins/sweetalert/sweetalert2.js"></script>
    <script src="~/js/plugins/nestable/jquery.nestable.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/CustomLibrerias/jquery.history.js"></script>
    <script src="~/js/CustomLibrerias/utilidadesBitworks.js"></script>
    <script src="~/js/CustomLibrerias/BitworksAjaxNavigation.js"></script>
    <script src="~/js/ventanas/ventanas.js"></script>
    <script src="~/js/CustomLibrerias/customBitworks.js"></script>
    <script src="~/js/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/plugins/jsonViewer/jjsonviewer.js"></script>
    <script src="~/js/plugins/summernote/summernote.js"></script>
    <script src="~/js/plugins/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/js/plugins/summernote/summernote-lite.js"></script>
    <!--JS de los catalogos-->
    @RenderSection("scripts", required: false)

</body>
</html>
